.AlertCenterView .AlertItemView a.X.alert-dismiss {
    display: block;
    width: 50px;
    opacity: 0.5;
    height: 20px;
    background-size: 10px;
    background-color: #555;
    border: 1px solid;
}