.bm-header-badge {
    background-color: #0ac775;
    padding: 0.25em;
    margin-left: 1.75em;
    font-weight: 800;
    box-shadow: -1.5em 0 0 rgba(0,122,94,0.25);
}

#module-budget table div.bar span.bettermint-budget-bar-supplement {
    background: none;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 200, 0, 0.25);
}

#module-budget table div.bar span.bettermint-budget-bar-supplement:hover {
    background-color: rgba(0, 200, 0, 0.5);
}

#spendingBudget-list #spendingBudget-list-body.planning_items .status span.bettermint_planning_supplement_bar {
    background: none;
    border-top: 1px solid #49a249;
    border-bottom: 1px solid #49a249;
    height: 75%;
    font-size: 10px;
    color: green;
    text-align: center;
}

#spendingBudget-list #spendingBudget-list-body.planning_items .status span.bettermint_planning_supplement_bar:hover {
    background-color: rgba(0, 200, 0, 0.5);
}
