@media only screen and (min-width: 1200px) {
	#wrapper {
		max-width: 1200px !important;
	}
	.navbar-header {
		max-width: 1200px !important;
	}
	#module-accounts a.accountName {
		width: 290px !important;
	}
	#module-accounts span.nickname {
		width: 290px !important;
	}
}

.bm-header-badge {
    background-color: #0ac775;
    padding: 0.25em;
    margin-left: 1.75em;
    font-weight: 800;
    box-shadow: -1.5em 0 0 rgba(0,122,94,0.25);
}

#module-budget table div.bar span.bettermint-budget-bar-supplement {
    background: none;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 200, 0, 0.25) !important;
}

#module-budget table div.bar span.bettermint-budget-bar-supplement:hover {
    background-color: rgba(0, 200, 0, 0.5) !important;
}

#spendingBudget-list #spendingBudget-list-body.planning_items .status span.bettermint_planning_supplement_bar {
    background: rgba(0, 200, 0, 0.25) !important;
    border-top: 1px solid #49a249;
    border-bottom: 1px solid #49a249;
    height: 75%;
    font-size: 10px;
    color: green;
    text-align: center;
}
#spendingBudget-list ul#spendingBudget-list-body.planning_items .status span.bettermint_planning_supplement_bar.left {
    border-left: 1px solid #49a249;
    border-bottom: 1px solid #49a249;
    cursor: default;
}
#spendingBudget-list ul#spendingBudget-list-body.planning_items .status span.bettermint_planning_supplement_bar:hover {
    background: rgba(0, 200, 0, 1.0) !important;
    cursor: default;
}

/* Fixing Mint's bad design choices (IMO) */
.CardView .cardContent {
    margin-top: 0 !important;
}

.CardView {
    padding: 16px !important;
}

#module-alert .alert-list li {
    padding: 6px 0 0 0 !important;
}

.NavigationContainerView .navbar-header {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.LogoView #logo-navbar a {
    width: 82px !important;
    margin-top: 0 !important;
}

.MintNavigationView #tabs-navbar {
    top: 8px !important;
}

.amount-cell {
	display: flex !important;
	position: relative;
}

/* Overriding mint styles to flow with BetterMint */
td.split > a.btn.btn-sm.btn-hollow {
    margin-top: 6px !important;
    margin-bottom: 0 !important;
    padding-top: 6px !important;
    margin-left: -10px !important;
}

.autosplit-button {
	margin-left: 6px !important;
	margin-top: 4px !important;
	margin-bottom: 2px !important;
}

.tip-button {
	margin-left: 6px !important;
	margin-top: 4px !important;
	margin-bottom: 2px !important;
    min-width: 32px !important;
    width: 32px !important;
    display: flex !important;
    padding: 0 !important;
}

.tip-button div {
    margin: auto;
}

div#pop-split {
	width: 800px !important;
}

th.descrip-cell, td.category-cell {
    position: relative;
}

div.pop#pop-split tr label {
    position: absolute !important;
    top: 42px !important;
    height: 20px !important;
    display: block !important;
    left: 0px !important;
}
