.bm-header-badge {
    background-color: #0ac775;
    padding: 0.25em;
    margin-left: 1.75em;
    font-weight: 800;
    box-shadow: -1.5em 0 0 rgba(0,122,94,0.25);
}

#module-budget table div.bar span.bettermint-budget-bar-supplement {
    background: none;
    height: 85%;
    position: absolute;
}

#module-budget table div.bar span.bettermint-budget-bar-supplement:hover {
    background-color: rgba(0, 200, 0, 0.5);
}
